<div class="card">
    <div class="card-header">Filtro</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="Lançamentos" type="radio" value="1">
                      Lançamentos
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="Mais Vendidos" type="radio" value="2">
                      Mais Vendidos
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="Livros Exclusivos" type="radio" value="3">
                      Exclusivos
                      
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input me-1" name="Pré-Venda" type="radio" value="4">
                      Pré-Venda
                      
                    </li>

                  </ul>
                <div class="d-grid gap-2"><button class="btn btn-primary btn-sm my-3">Filtrar</button></div>
            </div>
        </form>
    </div>
</div>
